In [1]:
#verificando a  existencia e excluindo para evitar conflitos
import os 
os.remove("dsa.db") if os.path.exists("dsa.db") else None

In [9]:
import sqlite3
#criando a conexão
conn = sqlite3.connect('dsa.db')
#cursor
c = conn.cursor()

#funcao criar a tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
#função para inserir linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2020-05-02 14:32:11', 'Teclado', 90 )")
    conn.commit()
    c.close()
    conn.close()

In [10]:
create_table()

In [12]:
data_insert()