SQLite

In [1]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

import sqlite3

In [2]:
#criando conexão com db # cria caso não exista
con = sqlite3.connect("escola.db")

In [3]:
type(con)

sqlite3.Connection

In [4]:
#criando cursor para percorrer os registros em um conjunto de dados
cur = con.cursor()
type(cur)

sqlite3.Cursor

In [14]:
#criar instrução sql - DDL
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100),'\
'categoria varchar(140))'

In [15]:
#executando instrução sql no cursor 
cur.execute(sql_create)

In [16]:
#criando outra sentença sql paara inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [17]:
#dados - lista composta por tupla
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [18]:
# inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [19]:
#gravar
con.commit()

In [21]:
sql_select = 'select * from cursos'

In [22]:
#seleciona todos os registros e reccupera
cur.execute(sql_select)
dados = cur.fetchall()

In [23]:
#print
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [27]:
con.close

Opção: sqlitebrowser